<?xml version="1.0"?>

<model>
  <name>Holoruch Pan-Tilt Unit</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Andreas Bihlmaier</name>
    <email>andreas.bihlmaier@gmx.de</email>
  </author>

  <description>
    Pan-Tilt unit
    for Hands-on Learning of ROS using Common Hardware chapter
  </description>
</model>
